.btn {
  border: none;
  color: #fff;
  padding: 0.8em 1.6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;

  // & ===.btn
  &.btn--main {
    background-color: $main-color;
  }

  &.btn--success {
    background-color: #4caf50;
  }

  &:hover {
    background-color: saturate($color: $main-color, $amount: 15%);
  }
}

.btn.btn--secondary {
  background-color: #e7e7e7;
  color: #333;
}

.btn.btn--success {
  background-color: #4caf50;
}

.btn.btn--danger {
  background-color: #f44336;
}
